*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgba(83, 71, 71, 0.5); */
    background-image: url('../img/fondo1.jpg');
}

body div.calculadora{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 730px;
    margin: 0 auto;
    background: rgb(20, 63, 143);
    border-radius: 20px;
    border: 6px solid rgb(83, 57, 57);
    padding: 0 0 20px 0;
    
}

input.display{
    text-align:right;
}

div.borrar button.borrar{
    height: 80px;
    width: 170px;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(0, 255, 170);
    font-size: 40px;
}

div input[type=button]{
    width: 80px;
    height: 80px;
    margin: 6px 0;
    font-size: 20px;
    border-radius: 20px;
    font-size: 40px;
}

div input[type=text]{ /*Display*/
    height: 80px;
    width: 400px;
    padding: 24px 40px;
    margin-top: 80px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 6px solid rgb(83, 57, 57);
    font-size: 55px;
}

div input.igual{ /*Boton = */
    height: 80px;
    width: 170px;
    margin-top: 4px;
    margin-bottom: 6px;
    border-radius: 20px;
    font-size: 40px;
}

div.resultado button.borrar{ /*Boton C = borrar*/
    height: 40px;
    width: 85px;
    margin-top: 2px;
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: red;
    font-size: 20px;
}